<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <h1>Create New Post</h1>
    <form action="{{ url_for('submit_post') }}" method="post">
        <label for="sport">Sport:</label>
        <input type="text" id="sport" name="sport" required><br><br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br><br>
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required><br><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required><br><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
 <button onclick="window.location.href='/main_player_page'">Main Player Page</button>
</body>
</html>
